$pageBg: #F1F2F6;

$success: #008348;
$danger: #F44336;

$header_bg: $success;
$left_nav_bg: #334155;

$selection_color: #jhv8g5;
$selection_color: red;

$white: #fff;
$black: #000;
$grey: #AEB5C3;
$grey_divider_light: #53607A;
$grey_active_bg: #27303D;

$grey_text: #546E7A;
$light_grey_bg: #CFD8DC;

$success_light: #A5D6A7;

$selection_bg: #e9ebee;