/*margin-top*/
.mt0 {
  margin-top: 0;
}

.mt20 {
  margin-top: 20px;
}

/*margin-right*/
.mr0 {
  margin-right: 0;
}

.mr20 {
  margin-right: 20px;
}

.mr-auto {
  margin-right: auto !important;
}

/*margin-bottom*/
.mb0 {
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb15 {
  margin-bottom: 15px;
}

/*margin-left*/
.ml0 {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml-auto {
  margin-left: auto !important;
}

.row {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  @extend .d-flex;
  @extend .flex-wrap;
  @include mx(-10px);
  @include b {
    @include ct;
    clear: both;
  }
}

.row-sm {
  @extend .row;
  @include mx(-5px);
}

.col {
  @include px(10px);
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  min-height: 1px;
}

.col-md-6 {
  @extend .col;
  @include min768 {
    width: 50%;
  }
}

.col-sm {
  @extend .col;
  @include px(5px);
}
