@import "./Colors.scss";
@import "./Mixins.scss";
@import "./fontello/fontello.scss";
@import "./Gap.scss";
@import "./Typo.scss";

@include selection($selection_bg);

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.ml-auto {
  margin-left: auto !important;
}

.list-inline {
  list-style: none;
}

.pos-rel {
  position: relative;
}

ul, ol {
  padding: 0;
  margin: 0;
}

.x2 {
  @include tf(scale(0.5));
}

.Page-content {
  position: relative;
  padding-left: 161px;
  min-height: calc(100vh - 55px);
  background-color: $pageBg;
}

.main {
  display: block;
  width: 100%;
  padding-right: 25px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid $grey;
}

.bordered-box {
  @extend .border-bottom;
}

.typo-card {
  @include r(3px);
  background-color: $white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
