p {
  @include selection($success_light);
}

@include hd {
  font-family: 'Montserrat', sans-serif;
  @include fw(600);
  margin: 0;
  padding: 0;
  line-height: 1.4;
  @include selection($success_light);
  &.fw400 {
    font-weight: 400;
  }
}

h1 {
  @include fz(24);
  @include fw(500);
  letter-spacing: -0.02em;
  color: $black;
}

h3 {
  @include fz(20);
  color: $black;
}

h4 {
  @include fz(18);
}

h6 {
  @include fz(14);
}

p {
  @include fz(14);
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  &.bigger {
    @include fz(16);
  }
}

span {
  &.bigger {
    @include fz(16);
  }
}

.text-success,
.text-success * {
  color: $success;
}