/*@import "../styles/General.scss";*/

$font_base: 14px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $font_base;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}