@import "../../styles/General";

input[type=file] {
  &.add-photo {
    position: relative;
    z-index: 0;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    padding-top: 75%;
    @include a {
      @include ct;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
      background-color: $light_grey_bg;
      @include r(3px);
      border: 1px solid $grey;
    }
    @include b {
      content: '\E800';
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      font-family: "ft";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1.2;
      margin-left: 0;
      @include fz(50);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $grey_text;
      @include tf(translate(-50%, -50%));
    }
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }
  @include h {
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }
  @include on;
}


