@import "../../styles/General";

.btn,
.btn-sm {
  @extend .d-inline-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @include py(7px);
  @include fz(14);
  line-height: 1.2;
  outline: none;
  border: 1px solid;
  @include r(3px);
  text-decoration: none;
  min-height: 35px;
  text-align: center;
  @include tm;
  @include h {
    @include tm;
    * {
      text-decoration: none;
    }
  }
}

.btn {
  @include px(15px);
  /*min-width: 160px;*/
  i {
    @include fz(12);
    + span {
      margin-left: 5px;
    }
  }
  span {
    + i {
      margin-left: 5px;
    }
  }
  @include h {
    @include tm;
    * {
      text-decoration: none;
    }
  }
}

.btn-sm {
  min-width: 35px;
  width: 35px;
}

.btn-primary {
  background-color: $success;
  border-color: $success;
  color: $white;
  @include h {
    background-color: darken($success, 3%);
  }
  @include fc {
    background-color: darken($success, 5%);
  }
  * {
    color: $white;
  }
}

.btn-secondary {
  background-color: $grey;
  border-color: $grey;
  color: $white;
  @include h {
    background-color: darken($grey, 3%);
  }
  @include fc {
    background-color: darken($grey, 5%);
  }
  * {
    color: $white;
  }
}

