@import "../../styles/General.scss";

.content-toolbar-wrap {
  @extend .d-flex;
  @extend .mb0;
  @include px(20px);
  @include py(20px);
}

.right-settings {
  @extend .d-inline-flex;
  @extend .ml-auto;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.settings-item {
  @extend .d-inline-flex;
  @extend .ml10;
}