@import "../../styles/General";

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 1.2;
    display: inline-block;
    color: $black;
    margin-right: 20px;
    @include b {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      @include r(2px)
      border: 1px solid $success;
      background: #fff;
    }
    @include a {
      content: '';
      background: $success;
      position: absolute;
      width: 14px;
      height: 14px;
      top: 1px;
      left: 1px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  @include on;
  @include fc {
    box-shadow: none;
  }
}

[type="radio"]:not(:checked) {
  + label {
    @include a {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
}

[type="radio"]:checked {
  + label {
    @include a {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}