@import "../../styles/General.scss";

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 0;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  @include tm;
}

.modal-dialog {
  margin: 1.75rem auto;
  margin-top: 80px;
  @extend .d-block;
  position: relative;
  z-index: 510;
  width: auto;
  pointer-events: none;
  height: 1000px;
  @include tf(translate(0, 0));
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include mx(auto);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  @include r(3px);
  overflow: hidden;
}

.modal-wide {
  max-width: 820px;
}

.modal-header {
  @extend .border-bottom;
}

.modal-header,
.modal-body .bordered-box,
.modal-footer {
  min-height: 55px;
  @include px(20px);
}

.modal-body .bordered-box {
  @include py(20px);
}

.modal-header {
  background-color: $white;
  @extend .d-flex;
  @extend .align-items-center;
  @include py(10px);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.modal-title {
  @extend .d-inline-flex;
  h4 {
    color: $black;
  }
}

.modal-close {
  @include fz(14);
  @extend .d-flex;
  @extend .ml-auto;
  color: $grey_text;
}

.modal-body {
  background-color: $pageBg;
}

.modal-footer {
  @extend .d-flex;
  @extend .justify-content-end;
  @include py(20px);
}