@import "../../styles/General.scss";

.nav-tab-list {
  @extend .d-flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 2px solid $grey;
  li {
  }
  span {
    @extend .d-flex;
    position: relative;
    min-height: 50px;
    @extend .align-items-center;
    @extend .justify-content-center;
    @include py(5px);
    @include fw(600);
    color: $grey_text;
    @include px(18px);
    letter-spacing: -0.04em;
    @include tm;
    @include h {
      cursor: pointer;
      @include tm;
      @include b {
        @include ct;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $success;
        @include tm;
      }
    }
    &.current {
      color: $black;
      @include b {
        @include ct;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $success;
      }
      @include h {
        cursor: default;
      }
    }
  }
}