@import "../../styles/General.scss";
@import "./InputText.scss";

.page-search-form {
  min-width: 186px;
}

.form-control-wrap {
  position: relative;
  .ft-close {
    position: absolute;
    display: block;
    top: 50%;
    right: 15px;
    @include tf(translate(0, -50%));
  }
}