@import "../../styles/General.scss";

.search-wrap {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .ml10;
  i {
    @extend .d-block;
    margin-left: 5px;
    @include fz(18);
    color: $success;
  }
}
