@import "../../styles/General.scss";

.left-nav {
  @extend .d-flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $left_nav_bg;
  .page-main-nav {
    width: 100%;
    li {
      @include f {
        .nav-item {
          border-top-color: $left_nav_bg;
          @include b {
            @extend .d-none;
          }
        }
      }
    }
    .nav-item {
      @extend .d-flex;
      @extend .align-items-center;
      @extend .flex-row;
      position: relative;
      z-index: 0;
      width: 100%;
      height: 52px;
      @include px(15px);
      border-top: 1px solid $grey_active_bg;
      @include py(10px);
      background-color: transparent;
      @include tm;
      text-decoration: none;
      @include b {
        @include ct;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        height: 1px;
        top: 1px;
        background-color: $grey_divider_light;
        @incude tm;
      }
      * {
        @include fz(16);
        @include fw(600);
        color: $grey;
        text-decoration: none;
      }
      @include h {
        background-color: $grey_active_bg;
        text-decoration: none;
        box-shadow: none;
        @include tm;
        text-decoration: none;
        @include b {
          @extend .d-none;
          @incude tm;
        }
        * {
          text-decoration: none;
        }
      }
      @include h {
        @include on;
      }
      &.active {
        background-color: $grey_active_bg;
        text-decoration: none;
        @include b {
          @extend .d-none;
          @incude tm;
        }
        * {
          color: $white;
          text-decoration: none;
        }
      }
    }
    .nav-item-title {
      @include fz(14);
      @include fw(600);
      color: $grey;
    }
    .nav-item-icon {
      width: 38px;
      min-width: 38px;
      max-width: 38px;
      text-align: center;
      &.small-icon {
        i {
          @include fz(12);
        }
      }
      i {
        @include fz(16);
      }
    }
  }
}

.Page-content {
  &.small-menu {
    padding-left: 70px;
    .left-nav {
      width: 70px;
    }
    .nav-item-title {
      @extend .d-none;
    }
  }
  .left-nav {
    width: 161px;
  }
}

.simplebar-wrapper {
  height: 100%;
}

.simplebar-offset {
  right: -20px !important;
}

.simplebar-track.horizontal {
  @extend .d-none;
}

.simplebar-scrollbar {
  width: 4px;
  min-height: 58px;
  @include b {
    background-color: $grey;
  }
}